li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
}

.discover-div{
    display:grid;
    margin: 0;
    width: 18%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

.discover-images {
    width:100%;
    height:30vh;
    object-fit:cover;
    border: 1px solid gray;
    object-position:50% 00%;
    border-radius: 5px;
    margin-bottom: 3%;
}

.discover-name{
    text-align: left;
    margin-bottom: 3%;
}

.fa-heart,
.fa-x {
    margin-right: 1.5%;
}
