li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
}

.discover-title-div, .matches-title-div{
    background-color: #1a1a1a;
    width: 100%;
    height: 100px;
    transition: .1s background-color
}

.discover-title-div,.matches-title-div:hover {
    background-color:rgb(20, 20, 20);
}

.discover-title,.matches-title {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: relative;
    padding-top: 40px;
    padding-left: 30%;
}

.discover-like {
    background-color: #e00095;
    border: 2px solid #e00095;
    color: white;
    padding: 2%;
    padding-top: 2.5%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    width: 30%;
    margin-left: 2%;
    cursor: pointer;
}

.discover-buttons {
width: 50%;
position: absolute;
left: 61%;
bottom: 420px;
display: inline-flex;
}

.discover-like:hover {
    color: rgb(24, 24, 24);
    background-color: rgba(255, 161, 235, 0.562);
    border: rgba(255, 161, 235, 0.562);
}

.discover-pass {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 2%;
    padding-top: 2.5%;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-indent: 16.5px;
    border-radius: 25px;
    width: 30%;
    cursor: pointer;
}

.discover-pass:hover {
    color: white;
    background-color: black;
}

.discover-title-footer, .matches-title-footer{
    color: white;
    background-color: #333;
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid #666;
    text-align: center;

}

.discover-div{
    border: 1px solid rgba(100, 100, 111, 0.2);
    /* display:grid; */
    margin: 0;
    width: 50%;
    min-width: 700px;
    height: 70%;
    min-height: 500px;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    position: relative;
    left: 25%;
    top: 10px;
    /* justify-content: space-between; */
    padding: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.discover-top{
    border: 2px solid blue;
    /* display: flex;
    justify-content: center; */
}

.discover-top-left{
    width: 50%;
    position: relative;
}

.discover-name{
    text-align: left;
    margin-left: 4%;
    margin-top: 2%;
    font-size: 30px;
}

.discover-gender{
    color: gray;
    font-size: 16px;
    margin-left: 5%;
    margin-bottom: 5%;
}

.match-percentage{
    border: 2px solid #0000bf;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    color: #0000bf;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;
    position: absolute;
    margin-left: 75%;
    bottom: 20%;
}

.img-bio-wrapper{
    width: 50%;
    border: 1px solid red;
}

.discover-images {
    /* min-height:300px;
    min-width: 400px; */
    object-fit:cover;
    margin-bottom: 4%;
    border: 1px solid #ccc;

}

.discover-images:hover{
    box-shadow: rgba(100, 100, 111, 0.527) 0px 7px 29px 0px;
    border-radius: 5px;
}

.discover-heart,
.discover-x {
    margin-right: 3.5%;
    margin-left: -5.5%;
}

.fa-magnifying-glass{
    margin-right: 1%
}



.bio-discover-title-div{
    background-color:#1a1a1a;
    padding: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    margin-left: 10%;
    width: 400px;
}

.bio-discover-title{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-indent: 15px;
    font-size: large;
}

.bio-discover {
    border: 1px solid rgba(100, 100, 111, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    height: 260px;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-left: 10%;
    width: 400px;
}

.discover-navlink{
    /* width:fit-content; */
    border: 1px solid red;
}

.discover-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    padding-top: 200px;


}

.bio-discover-wrapper{
    display: inline-flex;
    flex-direction:column;
    width: 400px;
}

.img-bio-wrapper{
    display: inline-flex
}

.view-profile {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    position: relative;
    left: 87%;
    color:#0000bf;
    cursor: pointer;
    font-size: 16px;
}

.view-profile:hover{
    text-decoration: underline;
}

.out-of-matches{
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 200px;
    left: 30%;
    font-size: 30px;
    width: 20%;
    font-weight: bolder;
}

.snorlax{
    position:relative;
    left: 50%;
    bottom: 30px;
    width: 30%;
}

.snorlax-hidden {
    display: none;
}

.out-of-matches-hidden{
    display: none;
}
