.questions-form {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question-section {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    text-align: center;
    background-color: black;
}

.question-number {
    margin-bottom: 20px;
    color: white;
}

.question-title {
    margin-bottom: 12px;
    color: white
}

.answer-section {
    width: 100%;
    max-width: calc(480px + 4vw * 2);
    max-height: 100%;
    padding: 16px 4vw 4px;
    overflow: scroll;
    position: relative;
    min-height: 288px;
    background-color: white;
}

#question-button {
    width: 100%;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 20px;
    padding-left: 33px;
    font-weight: bold;
    border: 5px solid #fda137;
    margin: 10px;
    position: relative;
    text-align: left;
    min-height: 20px;
    min-width: 20px;
    font-size: 1.2625rem;
    line-height: 20px;
    cursor: pointer;
}

#question-button:hover {
    background-color: #555e7d;
}

#question-button:focus {
    outline: none;
}