
/*
body,
html {
margin: 0px;
padding: 0px;
} */
#content-wrap {
    padding-bottom: 50px;

    margin-top: 50px;

}

#root {
    position: relative;
    min-height: 100vh;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */


  }
