body{
  z-index: 101;
}

#matchmodal {
    position: fixed;
    top: 15%;
    left: 34%;
    display: flex;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 3px 3px 10px 8px rgb(141, 140, 140);
    padding: 70px;
  }

  #matchmodal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    opacity: 50%;
    z-index: -1;
  }

  #matchmodal-content {
    position: absolute;
  }

  #matchMessage{
    top: 5%;
    color: green;
  }

  .matchmodal-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120%;
  }

  .match-title{
    width: 70%;
    margin-top: -5%;
  }

  .match-loveball{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 245px;
  }

  .match-user1,.match-user2{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px solid pink;
  }

  .match-user1{
    margin-right: 3%;
  }

  .match-user2{
    margin-left: 3%;
  }

  .matchmodal-p{
    font-size: 12.5px;
  }
