@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato:wght@300&display=swap');

body{
  font-family: sans-serif;
}
.login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 60vh;
  width: 20vw;
  min-height: 450px;
  min-width: 300px;
  margin: auto;
  border-radius: 10px;
  border: solid black .1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.login-content{
    margin:10%;
}

.login-title {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.2rem;
  text-align: center;
}

.login-label{
    font-size: 13px;
    color:rgb(77, 75, 75);
    letter-spacing: .5px;
    line-height: 1.5em;
    text-align: left;
  }
  
  .login-input{
    width: 100%;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 10%;
    border: solid rgb(0, 0, 0, .5);
    border-width: .2px;
    border-radius: 3px;
    outline: none;
  }
  

#loginBtn {
  background-color: #0075F7;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 4%;
}

.login-or{
    width:100%;
    height: 10%;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /* border: black solid 1px; */
}

.before-or {
  display: inline-block;
  right: 30px;
  width: 30%;
  top: 55%;
  border-top: 1px solid rgb(160, 160, 160);
  content: " ";
  position: absolute;
}

.login-or-txt{
  left: 48%;
  position: absolute;
  padding-top: 5%;
  padding-bottom: 5%;
}

.after-or {
  display: inline-block;
  left: 30px;
  width: 30%;
  top: 55%;
  border-top: 1px solid rgb(160, 160, 160);
  content: " ";
  position: absolute;
}

.login-errors{
  position:absolute;
  margin-left: 15%;
  margin-top: -4%;
}

.signup-error-container{
  position: relative;
  margin-top: -28px;
  width: 90%;
}

.signup-errors{
  position:relative;
  margin-left: 15%;
  margin-top: -1px;
  line-height: 18px;
}

#demoBtn{
    background-color: #FF2c70;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
}

#demoBtn:hover {opacity: 1}
#loginBtn:hover {opacity: 1}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

