.messages-container{
    position: fixed;
    flex-direction: column;
    top: 160px;
    left: 52%;
    display: flex;
    border-radius: 10px;
    min-width: 400px;
    min-height: 500px;
    width: 30%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 1px solid blue */
    box-sizing: border-box;
}

.messages-listed{
    width: 100%;
    height: 78%;

    background-size: contain;
    background-image: url('../../images/pikabkg.jpeg');
    overflow-y: scroll;
    border: 1px solid green;
}

.chat-message-ctrl{
    display: flex;
    flex-direction: row;
}

.chat-user-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.chat-username{
    padding: 2%;
}

.chat-content-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-msg,.delete-msg{
    width: 22px;
    height: 22px;
    margin: 2px;
    font-size: 12px;
    text-align: center;
}

.chat-input-ctrl{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    top: 250px;
    left:-180px;
    width: 90%;
    height: 10%;
}

.chat-countdown{
    font-size: 11px;
}

.chat-input,.chat-div-input{
    border-radius: 20px;
    width: 75%;
    height: 50%;
}

.chat-avatar {
	width: 42px;
	height: 42px;
	border-radius: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-submit{
    color: #FF2c70;
    border: none;
    background-color: white;
    padding: 11px 12px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    /* border: 1px solid rgb(175, 175, 175); */
}

.chat-submit:hover{
    color: #FF2c70;
    border: none;
    background-color: rgb(224, 224, 224);;
    padding: 11px 12px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    /* border: 1px solid rgb(175, 175, 175); */
}

.chat-submit:disabled{
    color: grey;
}


.chat-head {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
}


.chat-images{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;

}

.otheruser-head{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.fa-x:hover{
cursor: pointer;
color: #ff0051;
}
